machine api.wandb.ai
  login {{ .wandbUser }}
  password {{ pass "wandb" }}

machine twitter
  login {{ .twitterUser }}
  password {{ pass "twitter" }}

machine youtube
  login {{ .youtubeUser }}
  password {{ pass "youtube" }}
